
*{
    margin: 0;
    padding: 0;
}
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            width: 500px;
            height: 500px;
            margin: 20px auto;
            padding: 20px;
            border: 2px dashed #ccc;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #555;
        }

        .result-section {
            margin-bottom: 30px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color: #007bff;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 8px;
        }
        a{
            text-decoration: none;
            color: #fff;
        }
        button {
            padding: 10px 20px;
            border: none;
            margin-top: 10px;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
        /* Media query for 375px screens (mobile devices) */
@media only screen and (max-width: 768px) {
    .container {
        width: 300px;
        height: auto;
        margin: 10px auto;
        padding: 10px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 12px;
        margin-bottom: 8px;
    }

    li {
        margin-bottom: 4px;
    }
    ul li{
        font-size: 12px
    }
}