<!--upload.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
    <title>DocxScan Master</title>
</head>
<body>
    <form enctype="multipart/form-data" method="post" action="/upload">
        <h1>DocxScan Master</h1>
        {% if err_msg %}
            <p>{{ err_msg }}</p>
        {% endif %}
        <input type="file" name="file" accept=".docx">
        <button type="submit">Upload</button>

<!--        <p id="flashMessage" class="flash-message">This is a product from the computer department of Honeyland college.</p>-->

<!--        <script>-->
<!--            // Get the flash message element-->
<!--            const flashMessage = document.getElementById('flashMessage');-->

<!--            // Function to toggle the class after 3 seconds-->
<!--            function flashAfterThreeSeconds() {-->
<!--                setTimeout(() => {-->
<!--                    flashMessage.classList.toggle('flash-message');-->
<!--                    flashMessage.style.background = "black"-->
<!--                    flashMessage.style.color = "white"-->
<!--                    flashMessage.style.padding = "10px"-->
<!--                }, 3000);-->
<!--            }-->

<!--            // Call the function on page load-->
<!--            window.onload = flashAfterThreeSeconds;-->
<!--        </script>-->
    </form>
</body>
</html>
